
.admin-layout {
    background-color: white;
    display: flex;
    justify-content: center;
    margin-left: 250px;
    margin-top: 60px;
    min-height: 100vh;
    width: 100vw;
}

.admin-content {
    background-color: white;
    padding: 24px;
    position: relative;
}
