.admin-layout {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-left: 250px;
  margin-top: 40px;
  min-height: 100vh;
  width: 80vw;
  overflow-x: auto;
  position: relative;
}

.admin-content {
  background-color: white;
  padding: 60px;
  flex-grow: 1;
  overflow-x: auto;
}

.admin-logout-btn {
  display: flex;
  margin-top: 50px;
}

.admin-item-add-form {
  display: flex;
  margin-top: 20px;
}

.admin-item-add-form .ant-input,
.admin-item-add-form .ant-input-number {
  width: 150px;
  margin-right: 10px;
}

.admin-item-add-form .ant-upload,
.admin-item-add-form button {
  margin-right: 20px;
}

.admin-reservation-table {
  margin-top: 20px;
}

.admin-table {
  margin-top: 20px;
}
