/* 배경과 동일한 색을 가지면서 아래에 살짝 그림자가 있는 헤더 */
.header {
  background-color: white; /* 배경색과 동일한 색상으로 설정 */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* 아래 그림자 */
  padding: 10px 20px;
  position: sticky; /* 스크롤 시 상단에 고정 */
  top: 0;
  z-index: 1000;
  width: 100vw; /* 화면 전체 너비 */
  color: black;
}

/* 헤더 내용물의 최대 너비 설정과 중앙 정렬 */
.header-container {
  display: flex;
  justify-content: space-between; /* 로고와 사용자 정보 양쪽 배치 */
  align-items: center;
  /*max-width: 1200px; /* 헤더의 최대 너비를 설정 */
  /*margin: 0 auto; /* 가운데 정렬 */
  width: 100%; /* 헤더 컨텐츠가 전체 너비를 차지 */
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.user-info {
  font-size: 1em;
  color: #555; /* 사용자 정보 색상 */
}
