
.layout {
    min-height: 100vh;
    min-width: 100vw;
}

.header {
    display: flex;
    align-items: center; 
    background-color: gray;
    color: white;
    padding: 0 20px;
}

.content {
    background-color: white;
    border-radius: 1em;
    min-height: 280;
    padding: 12px 24px;
    margin: 24px;
    
}
