
.layout {
    min-height: 100vh;
  }
  
  .content {
    padding: 40px;
    margin-top: 64px;
    width: calc(100vw - 250px);
  }
  
  .container {
    padding: 20px;
    max-width: 400px;
    margin: auto;
  }
  
  .sidebar {
    background: #fff;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 64px;
    width: 250px;
  }
  
  .errorMessage {
    color: red;
    margin-bottom: 16px;
  }
  