
.layout {
  background-color: #d7d7d4;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .layout {
    flex-direction: row;
  }
}

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    display: block;
  }
}

.content-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

@media (min-width: 768px) {
  .content-layout {
    margin-left: 250px;
    width: calc(100vw - 250px);
  }
}

.content {
  padding: 40px;
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  width: 100%;
}

@media (min-width: 480px) {
  .form-container {
    max-width: 400px;
  }
}

.error-message {
  color: red;
  margin-bottom: 10px;
}
