.login-container {
    display: flex;
    justify-content: flex-end; /* Pushes the sidebar to the right */
    width: 100vw; /* Ensure the container spans the full viewport width */
    height: 100vh; /* Ensure the container spans the full viewport height */
    background-image: url('../../../images/login-page.jpg'); /* Add your image path here */
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Ensures the background stays fixed when scrolling */
}

.login-sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    background-color: rgba(247, 250, 252, 1); /* Solid background color */
    box-shadow: inset -10px 0 15px -10px rgba(0, 0, 0, 0.2); /* Right edge blur */
}

@media (min-width: 768px) {
  .login-sidebar {
    width: 30%; /* Sidebar occupies 45% of the screen width */
  }
}

.login-box {
    padding: 2rem;
    background-color: #ffffff; /* bg-white */
    border-radius: 0.375rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 15rem; /* w-96 */
}

.login-title {
    margin-bottom: 1.5rem;
    font-size: 1.5rem; /* text-2xl */
    font-weight: 700; /* font-bold */
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem; /* text-sm */
    font-weight: 700; /* font-bold */
}

.form-input {
    width: 93%;
    padding: 0.5rem 0.75rem;
    border-bottom: 1px solid #d1d5db; /* border */
}

.submit-button {
    width: 103%;
    padding: 0.5rem 1rem;
    font-weight: 700; /* font-bold */
    color: #ffffff; /* text-white */
    background-color: #4299e1; /* bg-blue-500 */
    border-radius: 0.375rem; /* rounded */
    transition: background-color 0.2s;
}

.submit-button:hover {
    background-color: #3182ce; /* hover:bg-blue-600 */
}

.signup-redirect {
    margin-top: 1rem;
    text-align: center;
  }
  
  .signup-button {
    width: 100%; /* 로그인 버튼과 가로 길이를 동일하게 맞춤 */
    padding: 0.25rem 1rem; /* 높이를 줄이기 위해 패딩을 줄임 */
    background-color: #3182ce;
    color: white;
    border-radius: 0.375rem;
    font-weight: 700;
    transition: background-color 0.2s;
  }
  
  .signup-button:hover {
    background-color: #2b6cb0;
  }
  
