
.layout {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .layout {
    flex-direction: row;
  }
}

.sider {
  background: #fff;
  position: fixed;
  height: 100vh;
  left: 0;
  top: 64px;
  width: 250px;
  display: none;
}

@media (min-width: 768px) {
  .sider {
    display: block;
  }
}

.content-layout {
  margin-left: 0;
  width: 100%;
  padding: 20px;
}

@media (min-width: 768px) {
  .content-layout {
    margin-left: 250px;
    width: calc(100vw - 250px);
  }
}

.content-wrapper {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .content-wrapper {
    flex-direction: row;
  }
}

.image-container {
  width: 100%;
}

@media (min-width: 768px) {
  .image-container {
    width: 70vw;
  }
}

.text-content {
  width: 100%;
  padding: 20px;
}

.borrow-form {
  margin-top: 20px;
}
